.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 65%;
  padding: 10px 30px;
  border-radius: 2px;
}

.mediaSection {
  margin: 0 0 40px 0;
}

.movieImage {
  margin: 0 30px;
  float: right;
}

.videoPlayer {
  margin: 0;
  border: 0;
}

.leftPanelLinks {
  color: rgb(52, 52, 52);
  font-size: 0.9rem;
}